---
import "../styles/global.css";

type Props = {
  title: string;
  description?: string;
};

const { title, description = "Personal photo archive" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <main class="container">
      <slot />
    </main>
  </body>
</html>
